.git
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
src/pkgIndex.tcl
src/*/.deps/
src/*/.dirstamp
src/*/.libs/
src/*/*.la
src/*/*.lo
stamp-h1
