.git
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
lib
libtool
ltmain.sh
m4/*
!m4/gnulib-cache.m4
!m4/tcl.m4
missing
snippet
src/pkgIndex.tcl
src/*/.deps/
src/*/.dirstamp
src/*/.libs/
src/*/*.la
src/*/*.lo
stamp-h1
tmp
